<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileZero</title>
    <script src="https://cdn.jsdelivr.net/npm/ethers@6.13.4/dist/ethers.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@latest/tsparticles.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>
    <div id="tsparticles"></div>
    <div class="content">
        <h1>FileZero</h1>
        <form id="uploadForm">
            <h2>Upload and Encrypt a File</h2>
            <label for="fileInput"><i class="fa-sharp fa-solid fa-file"></i> Select file:</label>
            <input type="file" id="fileInput" required><br><br>
            <label for="passwordInput">Enter password:</label>
            <input type="password" id="passwordInput" required><br><br>
            <label for="authorizedUsersInput">Authorized Ethereum Addresses (comma-separated):</label>
            <input type="text" id="authorizedUsersInput"><br><br>
            <label for="authorizeSelfCheckbox">
                <input type="checkbox" id="authorizeSelfCheckbox" checked> Authorize Myself
            </label><br><br>
            <button type="button" onclick="uploadFile()">Upload and Encrypt</button>
        </form>
        <hr>

        <form id="downloadForm">
            <h2>Decrypt a File</h2>
            <label for="hashInput">Enter IPFS hash:</label>
            <input type="text" id="hashInput" required><br><br>
            <label for="decryptPasswordInput">Enter password:</label>
            <input type="password" id="decryptPasswordInput" required><br><br>
            <button type="button" onclick="downloadFile()">Decrypt</button>
        </form>

        <hr>

        <div id="authorizeSection">
            <h2>Authorize a User</h2>
            <label for="authorizeHashInput">Enter IPFS Hash:</label>
            <input type="text" id="authorizeHashInput" required><br><br>
            <label for="authorizeAddressInput">Ethereum Address to Authorize:</label>
            <input type="text" id="authorizeAddressInput" required><br><br>
            <label for="authorizePasswordInput">Enter password:</label>
            <input type="password" id="authorizePasswordInput" required><br><br>
            <button type="button" onclick="authorizeUser()">Authorize</button>
        </div>

        <hr>

        <div id="revokeSection">
            <h2>Revoke User Access</h2>
            <label for="revokeHashInput">Enter IPFS Hash:</label>
            <input type="text" id="revokeHashInput" required><br><br>
            <label for="revokeAddressInput">Ethereum Address to Revoke:</label>
            <input type="text" id="revokeAddressInput" required><br><br>
            <label for="revokePasswordInput">Enter password:</label>
            <input type="password" id="revokePasswordInput" required><br><br>
            <button type="button" onclick="revokeUser()">Revoke</button>
        </div>

        <hr>

        <div id="accessLogsSection">
            <h2>Access Logs</h2>
            <label for="logsHashInput">Enter IPFS Hash:</label>
            <input type="text" id="logsHashInput" required><br><br>
            <button type="button" onclick="fetchAccessLogs()">View Access Logs</button>
            <div id="accessLogs"></div>
        </div>
    </div>

    <script>
        async function getConnectedWallet() {
            if (window.ethereum) {
                try {
                    const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
                    return accounts[0];
                } catch (error) {
                    console.error('User denied wallet access:', error);
                    Toastify({
                        text: "Please provide access to view your Ethereum address.",
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #FF5722, #F44336)"
                        }
                    }).showToast();
                    return null;
                }
            } else {
                Toastify({
                    text: "Wallet (MetaMask) is not installed. Please install it to use this feature.",
                    duration: 2000,
                    gravity: "top",
                    position: "center",
                    style: {
                        background: "linear-gradient(to right, #FF5722, #F44336)"
                    }
                }).showToast();
                return null;
            }
        }

        async function uploadFile() {
            let walletAddress = await getConnectedWallet();
            if (!walletAddress) return;
            
            walletAddress = ethers.getAddress(walletAddress); 
            const fileInput = document.getElementById('fileInput').files[0];
            const password = document.getElementById('passwordInput').value;
            const authorizedUsers = document.getElementById('authorizedUsersInput').value.trim();
            const authorizeSelf = document.getElementById('authorizeSelfCheckbox').checked;

            if (!fileInput || !password) {
                Toastify({
                    text: "Please select a file and enter a password.",
                    duration: 2000,
                    gravity: "top",
                    position: "center",
                    style: {
                        background: "linear-gradient(to right, #FF5722, #F44336)"
                    }
                }).showToast();
                return;
            }
            const uploadButton = document.querySelector('#uploadForm button');
            const resetButtonText = updateButtonText(uploadButton, 'Uploading...');
            const formData = new FormData();
            formData.append('file', fileInput);
            formData.append('password', password);
            formData.append('walletAddress', walletAddress);
            formData.append('authorizedAddresses', authorizedUsers);
            formData.append('authorizeSelf', authorizeSelf);

            try {
                const response = await fetch('/api/upload', {
                    method: 'POST',
                    body: formData
                });

                const result = await response.json();
                if (response.ok) {
                    const hashUrl = `https://ipfs.io/ipfs/${result.ipfsHash}`;

                    const toastContent = `
                        <div style="display: flex; flex-direction: column; align-items: flex-start;">
                            <div>
                                <strong>File uploaded successfully!</strong>
                            </div>
                            <div>
                                IPFS Hash: <a href="${hashUrl}" target="_blank" style="color: #000000; text-decoration: underline;">${result.ipfsHash}</a>
                            </div>
                            <button 
                                style="margin-top: 5px; padding: 5px 10px; background: #4CAF50; color: white; border: none; border-radius: 3px; cursor: pointer;" 
                                onclick="navigator.clipboard.writeText('${result.ipfsHash}'); alert('IPFS Hash copied to clipboard!')">
                                Copy Hash
                            </button>
                        </div>
                    `;

                    Toastify({
                        node: (() => {
                            const wrapper = document.createElement("div");
                            wrapper.innerHTML = toastContent;
                            return wrapper;
                        })(),
                        duration: -1,
                        close: true,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #4CAF50, #8BC34A)",
                            padding: "10px",
                            borderRadius: "8px",
                        },
                    }).showToast();
                } else {
                    Toastify({
                        text: `Upload failed: ${result.error}`,
                        duration: 5000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #FF5722, #F44336)"
                        }
                    }).showToast();
                    return;
                }

                document.getElementById('fileInput').value = '';
                document.getElementById('passwordInput').value = '';
            } catch (error) {
                Toastify({
                        text: "An error occurred while uploading this file.",
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #FF5722, #F44336)"
                        }
                }).showToast();
                console.error('Upload Error:', error);
            } finally {
                resetButtonText();
            }
        }

        async function downloadFile() {
            const ipfsHash = document.getElementById('hashInput').value.trim();
            const password = document.getElementById('decryptPasswordInput').value.trim();
            let walletAddress = await getConnectedWallet();
            if (!walletAddress) return;
            walletAddress = ethers.getAddress(walletAddress);
            if (!ipfsHash || !password) {
                Toastify({
                    text: "Please enter an IPFS hash and the password.",
                    duration: 2000,
                    gravity: "top",
                    position: "center",
                    style: {
                        background: "linear-gradient(to right, #FF5722, #F44336)"
                    }
                }).showToast();
                return;
            }
            const downloadButton = document.querySelector('#downloadForm button');
            const resetButtonText = updateButtonText(downloadButton, 'Downloading...');
            try {
                const response = await fetch('/api/download', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ ipfsHash, password, walletAddress })
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    throw new Error(errorData.error || 'Failed to download file.');
                }

                const contentDisposition = response.headers.get('Content-Disposition');
                let fileName = 'decrypted_file';
                if (contentDisposition && contentDisposition.includes('filename=')) {
                    const match = contentDisposition.match(/filename="(.+)"/);
                    if (match && match[1]) {
                        fileName = match[1];
                    }
                }

                const blob = await response.blob();
                const url = URL.createObjectURL(blob);

                const a = document.createElement('a');
                a.href = url;
                a.download = fileName;
                document.body.appendChild(a);
                a.click();

                a.remove();
                URL.revokeObjectURL(url);

                document.getElementById('hashInput').value = '';
                document.getElementById('decryptPasswordInput').value = '';
            } catch (error) {
                Toastify({
                    text: `${error.message} Please check the IPFS hash and password.`,
                    duration: 2000,
                    gravity: "top",
                    position: "center",
                    style: {
                        background: "linear-gradient(to right, #FF5722, #F44336)"
                    }
                }).showToast();
                console.error('Download Error:', error);
            } finally {
                resetButtonText();
            }
        }

        async function authorizeUser() {
            const ipfsHash = document.getElementById('authorizeHashInput').value.trim();
            const newAddress = document.getElementById('authorizeAddressInput').value.trim();
            const password = document.getElementById('authorizePasswordInput').value.trim();
            let sender = await getConnectedWallet();
            sender = ethers.getAddress(sender);
            if (!sender) return;

            if (!ipfsHash || !newAddress || !sender) {
                Toastify({
                    text: "All fields are required.",
                    duration: 2000,
                    gravity: "top",
                    position: "center",
                    style: {
                        background: "linear-gradient(to right, #FF5722, #F44336)"
                    }
                }).showToast();
                return;
            }
            const authorizeButton = document.querySelector('#authorizeSection button');
            const resetButtonText = updateButtonText(authorizeButton, 'Authorizing user...');
            try {
                const response = await fetch('/api/authorize', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ ipfsHash, newAddress, sender, password})
                });

                const result = await response.json();
                if (response.ok) {
                    Toastify({
                        text: "User authorized successfully.",
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #4CAF50, #8BC34A)"
                        }
                    }).showToast();
                } else {
                    Toastify({
                        text: `Authorization failed: ${result.error}`,
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #FF5722, #F44336)"
                        }
                    }).showToast();
                }
            } catch (error) {
                Toastify({
                        text: `Authorization failed: ${result.error}`,
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #FF5722, #F44336)"
                        }
                }).showToast();
                console.error('Authorization Error:', error);
            } finally {
                resetButtonText();
            }
        }

        async function revokeUser() {
            const ipfsHash = document.getElementById('revokeHashInput').value.trim();
            const revokedAddress = document.getElementById('revokeAddressInput').value.trim();
            const password = document.getElementById('revokePasswordInput').value.trim();
            let sender = await getConnectedWallet();
            sender = ethers.getAddress(sender);
            if (!sender) return;

            if (!ipfsHash || !revokedAddress || !sender) {
                Toastify({
                        text: "All fields are required.",
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #FF5722, #F44336)"
                        }
                }).showToast();                
                return;
            }
            const revokeButton = document.querySelector('#revokeSection button');
            const resetButtonText = updateButtonText(revokeButton, 'Revoking access...');
            try {
                const response = await fetch('/api/revoke', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ ipfsHash, revokedAddress, sender, password })
                });

                const result = await response.json();
                if (response.ok) {
                    Toastify({
                        text: "Revoked user access successfully.",
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #4CAF50, #8BC34A)"
                        }
                    }).showToast();
                } else {
                    Toastify({
                        text: `Revocation failed: ${result.error}`,
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #FF5722, #F44336)"
                        }
                    }).showToast();
                }
            } catch (error) {
                Toastify({
                        text: `An error occurred during revocation.`,
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #FF5722, #F44336)"
                        }
                    }).showToast();
                console.error('Revocation Error:', error);
            } finally {
                resetButtonText();
            }
        }

        async function fetchAccessLogs() {
            const ipfsHash = document.getElementById('logsHashInput').value.trim();
            let walletAddress = await getConnectedWallet();
            walletAddress = ethers.getAddress(walletAddress);
            if (!ipfsHash) {
                Toastify({
                        text: "Please enter an IPFS hash to view access logs.",
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #FF5722, #F44336)"
                        }
                }).showToast();
                return;
            }

            if (!walletAddress) {
                Toastify({
                        text: "Could not fetch user address. Please ensure your wallet is connected.",
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #FF5722, #F44336)"
                        }
                }).showToast();
                return;
            }

            try {
                const response = await fetch(`/api/logs?ipfsHash=${encodeURIComponent(ipfsHash)}&userAddress=${encodeURIComponent(walletAddress)}`);
                const result = await response.json();
                const logsContainer = document.getElementById('accessLogs');
                logsContainer.innerHTML = '';

                if (result.success) {
                    const logs = [
                        ...(result.accessLogs || []).map(log => ({ ...log, isUnauthorized: false })),
                        ...(result.unauthorizedLogs || []).map(log => ({ ...log, isUnauthorized: true }))
                    ];

                    if (Array.isArray(logs) && logs.length > 0) {
                        logsContainer.innerHTML = logs.map(log => `
                            <p>
                                <strong>Access Type:</strong> ${log.isUnauthorized ? 'Unauthorized' : 'Authorized'}<br>
                                <strong>Timestamp:</strong> ${log.timestamp}<br>
                                ${log.isUnauthorized ? `
                                    <strong>Ethereum Address:</strong> 
                                    <a href="https://etherscan.io/address/${log.attemptedBy}" 
                                    target="_blank" 
                                    rel="noopener noreferrer">
                                        ${log.attemptedBy}
                                    </a><br>
                                    <strong>IP Address:</strong> ${log.ipAddress}<br>
                                ` : ''}
                            </p>
                            <hr>
                        `).join('');
                    } else {
                        logsContainer.innerHTML = `<p>No logs available.</p>`;
                    }
                } else {
                    logsContainer.innerHTML = `<p>Error: ${result.error}</p>`;
                }
            } catch (error) {
                console.error('Fetch Access Logs Error:', error);
                Toastify({
                        text: `An error occurred while fetching access logs: ${error}`,
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "linear-gradient(to right, #FF5722, #F44336)"
                        }
                }).showToast();            
            }
        }
    </script>

    <script>
        (async () => {
            await loadFull(tsParticles);
            await tsParticles.load({
                id: "tsparticles",
                options: {
                    particles: {
                        number: {
                        value: 100,
                        density: {
                            enable: true,
                            area: 50,
                        },
                        },
                        links: {
                            enable: true,
                            distance: 100,
                        },
                        color: {
                        value: '#ffffff',
                        },
                        shape: {
                        type: 'circle',
                        },
                        opacity: {
                        value: 0.5,
                        },
                        size: {
                        value: 3,
                        random: true,
                        },
                        move: {
                        enable: true,
                        speed: 6,
                        },
                    },
                    interactivity: {
                        events: {
                        onHover: {
                            enable: true,
                            mode: 'connect',
                        },
                        onClick: {
                            enable: true,
                            mode: 'push',
                        },
                        },
                        modes: {
                        connect: {
                            distance: 200,
                            links: {
                            opacity: 0.5,
                            },
                        },
                        push: {
                            quantity: 4,
                        },
                        },
                    },
                    detectRetina: true,
                                    },
                                });
                            })();
    </script>

    <script>
        function updateButtonText(button, loadingText) {
            const originalText = button.innerHTML;
            button.disabled = true;
            button.setAttribute('data-original-text', originalText);
            button.innerHTML = loadingText;
            return () => {
                button.disabled = false;
                button.innerHTML = originalText;
            };
        }
    </script>
</body>
</html>